selenium==4.15.1
pytest==7.3.1
webdriver-manager
pillow==10.3.0
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
