npm-debug.log
node_modules/
dist/
tmp/
.temp
.vscode
codgen/dist
browser_control/chromedriver.exe
venv/
dist.*
.idea/
browser_control/__pycache__
browser_control/snapshot.crx
/_site/
/.jekyll-cache/Jekyll/Cache/
