.alertbar{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    position: relative;
}

.alertbar-head-element{
    flex: 1 1 0;
}

.alertbar-head-left{
    text-align: left;
}

.alertbar-head-center{
    text-align: center;
}

.alertbar-head-right{
    text-align: right;
}


.licpl-panic{
    background-color: var(--color-bg-danger)!important;
    border-color: var(--color-border-danger)!important;
    padding: 10px !important;
    color: white !important;
}

.licpl-warning{!important;
    background-image: linear-gradient(var(--color-alert-warn-bg),var(--color-alert-warn-bg)) !important;
    border-color: var(--color-alert-warn-border) !important;
    color: var(--color-alert-warn-text) !important;
    padding: 10px !important;
}

.licpl-chill{
    background-image: linear-gradient(var(--color-alert-info-bg),var(--color-alert-info-bg)) !important;
    border-color: var(--color-alert-info-border)!important;
    color: var(--color-alert-info-text) !important;
    padding: 4px 10px;
}

.details{
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details-element{
    /* flex-basis: 100%; */
}

.details-title{
    margin-top: 15px;
    font-weight: bold;
    padding: 6px;
}

.details-actions{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 15px;
    flex-wrap: wrap;
}

.licenseplate-action-button{
    flex: 1 1 0;
    font-size: small;
    width: 150px;
    height: 35px;
    padding-left: 15px;
    padding-right: 15px;
}

.licensplate-lic-template-button {
    background-color: darkred !important;
    margin-right: 5px;
}

