name: Release

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
      - run: npm ci --legacy-peer-deps
      - run: npm run build
        env:
          NODE_OPTIONS: --openssl-legacy-provider
      - name: installing zip
        run: sudo apt install --yes zip unzip
      - name: zipping artifacts
        run: |
          cd dist
          zip -r unpacked.zip ./*
          ls -l
      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            ./dist/unpacked.zip