# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: selenium

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    - cron: 0 0 * * * # At the end of every day

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '20.x'
      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - name: Install Chrome (required for crx packaging)
        run: |
          wget -q -O - https://dl-ssl.google.com/linux/linux_signing_key.pub | gpg --dearmor | sudo tee /etc/apt/trusted.gpg.d/google-chrome.gpg > /dev/null
          echo 'deb [arch=amd64] http://dl.google.com/linux/chrome/deb/ stable main' | sudo tee /etc/apt/sources.list.d/google-chrome.list
          sudo apt-get -y update
          sudo apt-get -y install google-chrome-stable
      - name: Build Extension
        run: |
          npm ci --legacy-peer-deps
          npm run build
        env:
          NODE_OPTIONS: --openssl-legacy-provider
      - name: Install Python Dependencies
        run: |
          cd browser_control
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Run Selenium tests
        run: |
          cd browser_control
          sudo apt-get install xvfb
          xvfb-run --auto-servernum pytest .